{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="alert"></div>

    <div id="post-form-container">
        <form id="post-form">
            {% csrf_token %}
            <h3>Say something: </h3>
            {{ postForm.body }}
            <br>
            <input type="submit" class="btn btn-dark" value="Post">
        </form>
        <hr>
    </div>

    <div id="promptLogin">
        Login to post!
        <hr>
    </div>

    <div id="profile">
        <div id="profile">
            <h3></h3> &nbsp;
            <i id="button">

            </i>
        </div>
        <span id="followers"></span> followers
        &nbsp;
        <span id="following"></span> following
        <br>
        <hr>
    </div>

    <div id="posts"></div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/00facc1e94.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
