{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" id="all">All Posts</a>
                    </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" id="followedPosts">Following</a>
                    </li>
                {% endif %}
              </ul>
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" id="user" data-page={{ user.username }}><strong>{{ user.username }}</strong></a>
                    </li>
                    <span class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </span>
                {% else %}
                    <span class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </span>
                    <span class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </span>
                {% endif %}
              </div>
            </div>
          </nav>
        
        <div class="body container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>