.post{

}

.empty{
    color: #343a40;
}

.empty:hover{
    color: #a51c30;
    cursor: pointer;
}

.filled{
    color: #a51c30;
}

.filled:hover{
    cursor: pointer;
}

nav{
    margin-bottom: 16px;
}

.pager{
    display: flex;
    justify-content: space-between;
}

#profile{
    display: flex;
    flex-direction: row;
}

.post-body{
    padding-bottom: 8px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    white-space: break-spaces;
}

.bodyActions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contentHeading{
    margin-bottom: 16px;
}

textarea{
    width: 95%;
}
